.form-group{
    margin: 1rem;
    margin-left: 10%;
    margin-right: 10%;
}
#upload__btn{
    background: var(--secondary-color);
}
#upload__help h3{
    text-align: center;
}
#upload__help video{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 15%;
    padding-top: 1rem;
}